/* medida celular */
@media only screen and (max-width: 800px) {
    .bienvenido{
        text-align: center;
        display: flex;
        justify-content: center;
      background-color:black;
    }
    h1 {
        color:lightgray;
        font-size: 36px;
    }
    .texto1{
      
      background-color:burlywood;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    h2 {
        color:saddlebrown;
        font-size: 28px;
    }
    
    #texto {
        content: "Esta es la vista en un celular";
        color:black;
        background-color: gainsboro;
        font-size: 34px;
        text-align: center;
        display: flex;
        justify-content: center;
        
    }
    .videito1{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:coral;
        padding: 20px;
        margin: 20px auto;
        width: 50%;
        border-radius: 8px;
    } 
    #linkVideo{
        text-decoration: none;
        font-size: 30px;
        color: white;
    }
}
/*medida tablet */
@media only screen and (min-width: 801px) and (max-width: 1024px) {
    .bienvenido{
        text-align: center;
        display: flex;
        justify-content: center;
      background-color: teal;
    }
    h1 {
        color: white;
        font-size: 36px;
    }
    .texto1{
      
      background-color:cadetblue;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    h2 {
        color:white;
        font-size: 28px;
    }
    
    #texto {
        content: "Esta es la vista en una tablet";
        color: plum;
        font-size: 34px;
        text-align: center;
        display: flex;
        justify-content: center;
        
    }
    .videito1{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:lightblue;
        padding: 20px;
        margin: 20px auto;
        width: 50%;
        border-radius: 8px;
    }  
    #linkVideo{
        text-decoration: none;
        font-size: 30px;
        color:slateblue;
    }
}
/* medida pc*/
@media (min-width: 1024px) {
    .bienvenido{
        text-align: center;
        display: flex;
        justify-content: center;
        background-color: antiquewhite;
    }
    h1 {
        color: black;
        font-size: 36px;
    }
    .texto1{
        display: flex;
      justify-content: center;
      align-items: center;
      background-color: green;
    }
    
    h2 {
        color: white;
        font-size: 28px;
    }
    
    #texto {
        content: "Este texto cambia segun el dispositivo";
        color: black;
        font-size: 34px;
        text-align: center;
        display: flex;
        justify-content: center;
        
    }
    .videito1{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: pink;
        padding: 20px;
        margin: 20px auto;
        width: 50%;
        border-radius: 8px;
    }  
    #linkVideo{
        text-decoration: none;
        font-size: 30px;
        color: red;
    }
}

